{% extends 'base.html' %}

{% block title %} Our Energy {% endblock %}

{% block content %}

<h1>CONTACTS</h1>

<p>
    Hello, I'm Andrea. You can find more about me on <a href="https://andregri.com">my website</a>.
    I created this site with Python Flask to participate to
    <a href="https://dev.to/devteam/announcing-the-mongodb-atlas-hackathon-on-dev-4b6m">MongoDB Atlas Hackathon on DEV</a>
    and to learn MongoDB. If you want to see the source code visit <a href="https://github.com/andregri/OurEnergy">my GitHub repo</a>.
</p>

{% endblock %}