{% extends 'base.html' %}

{% block title %} Our Energy {% endblock %}

{% block content %}

<h1>CREDITS</h1>

<h3>I would like to thank...</h3>

<ul id="credits">
    
    <li>
        <a href="https://dev.to/devteam/announcing-the-mongodb-atlas-hackathon-on-dev-4b6m">DEV</a> for hosting this amazing hackathon!
    </li>
    <li>
        <a href="https://www.mongodb.com/">MongoDB</a> for providing free access to their resources!
    </li>
    <li>
        The <a href="https://datasets.wri.org/dataset/globalpowerplantdatabase">Global Power Plant Database</a> for this
        amazing dataset!
    </li>
</ul>

{% endblock %}